.App {
  text-align: center;
  display: flex;
  width: 100%;
  flex-direction: column;
}

.topnav {
  background-color: #333;
  overflow: hidden;
  position: sticky;
  top: 0;
  height: 40px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.topnav a {
  float: center;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  position: sticky;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.About {
  background: darkgray;
  height: 480px;
  display: flex;
  border-bottom: black solid 1px;
}

.About-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 85%;
  margin-left: auto;
  margin-right: auto;
}
.About-container img {
 border: 1px black solid;
 border-radius: 4px;
}

.About-container p {
  margin-top: 30px;
  width: 60%;
  font-size: 22px;
}

.Skills {
  height: auto;
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  margin-bottom: 50px;
  width: 100%;
}

.intro-header {
  font-size: 45px;
}

.Skills h4 {
  font-size: 20px;
}

.Skills h3 {
  font-size: 45px;
  padding: 0;
  margin: 0;
}

.top-skills {
  display: flex;
  flex-direction: row;
  margin-top: 25px;
  justify-content: space-evenly;
  width: 80%;
  margin-right: auto;
  margin-left: auto;
}
.top-skills img {
  width: 100px;
  height: auto;
}

p{
  margin: 0;
}
.Portfolio {
  height: auto;
  background: darkgray;
  border-top: 1px black solid;
}

.Connect {
  height: auto;
  display: flex;
  flex-direction: column;
  background: darkgray;
}

.intro {
  height: 275px;
  background: url('./Assets/mountains.jpg');
  background-position: center;
}
.intro h2 {
  font-size: 50px;
  opacity: 1;
  color: black;
  padding-bottom: 0;
  margin-bottom: 0;
}
.intro h3 {
  font-size: 24px;
  padding: 5px;
  margin-top: 5px;
}

.connect-buttons {
  display:  flex;
  margin-left:  auto;
  margin-right:  auto;
  justify-content: space-between;
  align-items:  center;
  align-content:  center;
  margin-top: 15px;
  margin-bottom: 10px;
  width: 35%;
}

.myPark {
  display: flex;
  width: 70%;
  margin-bottom: 15px;
  background: white;
  flex-direction: column;
  align-items: center;
  align-content: center;
  margin-left: auto;
  margin-right: auto;
  border: 1px black solid;
  border-radius: 4px;
}

.myPark img {
  width: 100%;
  height: auto;
  border: 1px black solid;
}

.codeBar {
  width: 70%;
  display: flex;
  background: white;
  flex-direction: column;
  display: flex;
  align-items: center;
  align-content: center;
  margin-left: auto;
  margin-right: auto;
  border: 1px black solid;
  border-radius: 4px;
}

.codeBar img {
  width: 100%;
  height: auto;
  border: 1px black solid;
}

.project-buttons {
  display:  flex;
  width: 40%;
}

.portfolio-container {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}

.portfolio-container p {
  font-size: 14px;
  margin-top: 5px;
  margin-bottom: 5px;
  width: 95%;
}

.portfolio-container span {
  margin-top: 5px;
}

.Portfolio h3 {
  font-size: 45px;
  padding: 0;
  margin: 0;
  margin-top: 10px;
}

.Connect h3 {
  font-size: 35px;
  padding: 0;
  margin: 0;
  margin-top: 10px;
}

button {
  cursor: pointer;
  width: 50px;
  height: 20px;
  margin-bottom: 5px;
}

@media only screen and (max-width: 608px) {
  .codeBar {
    width: 90%;
  }
  .myPark {
    width: 90%;
  }
  .About-container p {
    font-size: 16px;
  }
  .connect-buttons {
    width: 75%;
  }
}

@media only screen and (max-width: 708px) {
  .top-skills img {
    width: 100px;
    margin: 0;
    height: auto;
  }
  section {
    border-top: 1px black solid;
    margin-bottom: 15px;
    width: 100%;
}
  .topnav a {
    font-size: 17px;
  }
  .top-skills {
    display: flex;
    flex-direction: column;
    width: 95%;
    height: auto;
    margin-right: auto;
    margin-left: auto;
  }
  .About-container {
    flex-direction: column;
    margin-top: 5px;
  }
  .About-container img {
    height: 150px;
    width: 150px;
  }
}